*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
  }
body {
    font-family: "Cairo", sans-serif;
}

/* navbar*/
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Space between logo and nav items */
    height: 4rem; /* Set height to 4 rem */
    padding: 0.25rem 2rem; /* Optional: add some padding */
    background-color: white; /* Background color (optional) */
    border-bottom: 1px solid lightgray;
    background-color: white;
    z-index: 40;
}

.logo {
    height: 100%; /* Make logo fill the nav height */
}

.nav-list {
    list-style: none; /* Remove bullet points */
    display: flex; /* Display list items in a row */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.nav-item {
    margin-left: 2rem; /* Space between nav items */
}
.nav-toggle {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
}
.nav-link {
    text-decoration: none; /* Remove underline */
    color: #1e7d77; /* White text color */
    font-size: 1rem; /* Font size */
    transition: color 0.3s; /* Transition for hover effect */
    font-weight: 600;
}

.nav-link:hover {
    color: #4db6a8; /* Change color on hover (light teal) */
}

/* hero section*/
.hero {
    margin-top: 4rem ;
    width: 100%;
    height: calc(100vh - 4rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem;
    background-color: #1e7d77;
  
}

.hero-content {
    max-width: 50%;
    text-align: right; /* Align text to the right */
}

.hero h1 {
    font-size: 3.35rem;
    margin-bottom: 20px;
    color:white;
}

.hero p {
    font-size: 1.25rem;
    margin-bottom: 30px;
    color:white; /* White text */
}

.cta-button {
    background-color: #ff6f61; /* Coral for Call to Action */
    color: white;
    padding: 15px 25px;
    cursor: pointer;
    font-size: 1.1rem;
    border-radius: 5px;
    display: block; 
    width:fit-content
   
 

}
.cta-button:active{
    transform: scale(0.95);
}
.cta-button:hover {
    background-color: white; /* Light Teal for hover effect */
    color: #1e7d77;
}

.hero-image {
  max-width: 500px;
    padding: 2rem;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image img {
    max-width: 100%;
    height: auto;
}

/*aboutus*/

.about-us {
    padding: 0rem 4rem;
    margin: 3rem 0 ;
    border-radius: 8px;
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Align items vertically */
    gap: 2rem; /* Space between text and image */
}

.about-text {
    flex: 1; /* Allow text to take remaining space */
}

.about-us h1 {
    font-size: 2.5rem; /* Larger font size for main title */
    color: #1e7d77; /* Main color */
    margin-bottom: 1rem;
}

.about-us p {
    font-size: 1.2rem;
    color: #333;
    line-height: 1.6;
}

.about-image{
    max-width: 500px;
}
.about-image img {
    width: 100%; /* Set max width for the image */
    height: auto; /* Maintain aspect ratio */
    border-radius: 4px; /* Optional: round the corners of the image */
}
/* why us */
.why-choose-us {
    padding: 0rem 4rem;
    margin: 3rem 0 ;
 
}

.why-choose-us h2 {
    font-size: 2rem;
    color: #1e7d77; /* Main color */
    margin-bottom: 1rem;
    text-align: center;
    font-size: clamp(1rem, 3vw + 0.75rem, 3rem);
}

.card-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Responsive grid */
    gap: 1rem; /* Space between cards */
}

.card {
    padding: 1.5rem;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition: .3s ease-out;
}

.card h3 {
    font-size: 1.5rem; /* Heading size for cards */
    color: #1e7d77; /* Main color */
    margin-bottom: 0.5rem;
}

.card p {
    font-size: 1rem; /* Font size for card text */
    color: #333;
    line-height: 1.5;
}
.card:hover{
    background:#1e7d77;
}
.card:hover h3,.card:hover p{
    color: white;
}

/* products*/

.products {
    padding: 0rem 4rem;
    margin: 3rem 0 ;
}
.products h2 {
    font-size: 2rem;
    color: #1e7d77; /* Main color */
    margin-bottom: 1rem;
    text-align: center;
    font-size: clamp(1rem, 3vw + 0.75rem, 3rem);
}
.product-grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.product-card {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 300px; /* Adjust height as needed */
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    cursor: pointer;
}

.product-card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: opacity 0.3s;
    transition: .3s ease-out;
}

.product-card-content{
   transform: translateY(100%);
   transition: .3s ease-out;
    position: absolute;
    background-color: #1e7d77;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    gap: 20px;
    
 
}
.product-card-content h3,.product-card-content p{
   color: white;
   text-align: center;
}
.product-card-content a{
    transition: .2s ease;
}
.product-card:hover img {
    transform: scale(1.1);
}
.product-card:hover .product-card-content{
    transform: translateY(0);
}
/* last cta*/
.final-cta-section {
    padding: 0 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color:#1e7d77; /* Light background color */
    margin-top: 20px; /* Space above the section */
    height: 50vh;
}

.final-cta-section h1 {
    font-size: 2rem; /* Adjust size as needed */
    color: white; /* Text color */
    margin-bottom: 10px;
}

.final-cta-section p {
    font-size: 1.2rem; /* Adjust size as needed */
    color: white; /* Text color */
    margin-bottom: 20px;
}


/*footer */
.footer {
    color: #333; /* Text color */
    padding: 20px;
    text-align: center;
}

.footer-nav {
    display: flex;
    justify-content: space-between; /* Space between links and logo */
    align-items: center;
    margin-bottom: 20px;
}

.footer-list {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
}

.footer-item {
    margin: 0;
}

.footer-link {
    color: #1e7d77;
    text-decoration: none;
    font-size: 1rem; /* Font size */
    transition: color 0.3s; /* Transition for hover effect */
    font-weight: 600;
}

.footer-link:hover {
    color: #4db6a8; 

}

.footer-logo {
    width: 100px; /* Adjust logo size as needed */
}

.contact-info {
    margin: 20px 0;
    display: flex;
    gap: 20px;
    color: #333;
    
}

.contact-info h3 {
    margin-bottom: 10px; /* Space below heading */
}

.footer-bottom {
    font-size: 0.8rem; /* Smaller font size for copyright */
}
#cta2 {
	animation: pulse 2s infinite;
    transition: .2s ease;
}

@keyframes pulse {
	0% {
		
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
	}

	70% {
	
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}
/*responsive design*/
@keyframes slideIn {

    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0);
    }
    
}
@keyframes slideOut {

    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%); 
    }
    
}
@media only screen and (max-width: 1024px) {
    .hero{
        padding: 3rem;
    }
    .about-us,
    .why-choose-us,
    .products,
    .final-cta-section {
        padding: 0 3rem;
    }
    .hero h1 {
        font-size: 2.5rem; 
    }
  
    .about-us h1 {
        font-size: 2.2rem; 
    }
    .about-us p , .hero p{
        font-size: 1.1rem; 
    }
    .why-choose-us h2 , .products h2  {
        font-size: 2rem; 
    }
    
    .final-cta-section h1 {
        font-size: 1.8rem; 
    }
    .final-cta-section p {
        font-size: 1rem; 
    }
    .about-us{
        flex-direction: column;
    }
    .nav-list {
        display: none; 
        flex-direction: column;
        position: absolute;
        top: 4rem; 
        left: 0;
        background: white; 
        border: 1px solid #ccc; 
        z-index: 1000; 
        width: 35%;
        padding: 0.5rem 1rem;
        
    }
    
    .nav-link{
        display: block;
        width: 100%;
        text-align: center;
    
    }

    .nav-toggle {
        display: block; 
    }

    .nav-list.active {
        display: flex; 
        
    }
    
   
}

@media only screen and (max-width: 768px) {
    .hero{
        padding: 3rem 2rem;
        height: 80vh;
    }
    .about-us,
    .why-choose-us,
    .products,
    .final-cta-section {
        padding: 0 2rem;
    }
    .hero h1, .about-us h1  {
        font-size: 2rem; 
    }
    .hero p , .about-us p {
        font-size: 1rem; 
    }
   
    .why-choose-us h2 , .products h2 {
        font-size: 1.8rem; 
    }
 
    .final-cta-section h1 {
        font-size: 1.6rem; 
    }
    .final-cta-section p {
        font-size: 0.9rem;
    }
    .hero-image{
      display: none;
    }
    .hero-content{
        max-width: 100%;
    }
    .nav-list{
        width: 55%;
    }
    .contact-info{
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer-nav{
        flex-direction: column-reverse;
        gap: 35px;
    }
    .footer-list{
        flex-wrap: wrap;
        justify-content: center;
    }
    .product-grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 640px) {
    .hero{
        padding:3rem 1rem;
        height: 70vh;
    }
    .about-us,
    .why-choose-us,
    .products,
    .final-cta-section {
        padding: 0 1rem;
    }
    .hero h1 , .about-us h1{
        font-size: 1.8rem; 
    }
    .hero p , .about-us p {
        font-size: 0.9rem; 
    }
    
    .products h2 ,  .why-choose-us h2 {
        font-size: 1.6rem; 
    }
    .final-cta-section h1 {
        font-size: 1.4rem;
    }
    .final-cta-section p {
        font-size: 0.9rem; 
    }
    .nav-list{
        width: 65%;
    }
    .product-grid{
       grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 360px) {
    .hero,
    .about-us,
    .why-choose-us,
    .products,
    .final-cta-section {
        padding: 0 0.75rem;
    }
    .hero h1 ,   .about-us h1 {
        font-size: 1.5rem; 
    }
    .hero p , .about-us p {
        font-size: 0.85rem; 
    }
    .why-choose-us h2 , .products h2 {
        font-size: 1.4rem; 
    }
    .final-cta-section h1 {
        font-size: 1.2rem; 
    }
    .final-cta-section p {
        font-size: 0.75rem; 
    }
    .nav-list{
        width: 75%;
    }
}

